# Node
node_modules/

# Mac
.DS_Store

# Google Cloud SDK
server/google-cloud-sdk/
server/*.tar.gz
server/.env

# Google Cloud CLI credentials
server/google-cloud-sdk/.install/
server/google-cloud-sdk/properties
server/google-cloud-sdk/lib/
server/google-cloud-sdk/bin/
.config/gcloud/
gcp-key.json

# Gradle and Build folders
build/
**/build/
.gradle/
local.properties
